<section class="user-existing">

  <header class="page-header">
    <h1>Welcome back!</h1>
  </header>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_tag '/login' do %>

        <% if @message %>
          <div class="alert alert-danger">
            <strong><%= @message %></strong>
          </div>
        <% end %>

        <div class="form-group">
          <%= label_tag :email %>
          <%= email_field_tag :email, nil, class: 'form-control', :required => true, placeholder: "Enter your email"  %>
        </div>

        <div class="form-group">
          <%= label_tag :password %>
          <%= password_field_tag :password, nil, class: 'form-control', :required => true, placeholder: "Enter a password" %>
        </div>

        <%= submit_tag 'Sign in', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>